$red: #AD332A;
$light-gray: #F5F5F5;

.divTable{
	display: table;
}
.divRow{
	display: table-row;
}
.divCell{
	display: table-cell;
}

html, body{
	height: 100%;
	margin: 0;
	background-color: #fff !important;
	font-family:"Open Sans";
}

.ui-page-active.mainWrapper{
	display: table !important;
}

.mainWrapper{	
	table-layout: fixed;
	height: 100%;
	min-height: 100%;
	width:100%;
	min-width: 100%;

	.headerWrapper, .contentWrapper, .footerWrapper{
		display: table-row;
		background-color: #fff !important;

		.header, .footer{
			display:table-cell;
		}
	}

	.content{
		overflow-y:auto;
		overflow-x:hidden;
		position:relative;
		height: 100%;		
		-webkit-overflow-scrolling: touch;
		padding:5px;

		@mixin transition() {
			-webkit-transition: all 0.2s ease-out;  /* Chrome 1-25, Safari 3.2+ */
			-moz-transition: all 0.2s ease-out;  /* Firefox 4-15 */
			-o-transition: all 0.2s ease-out;  /* Opera 10.50–12.00 */
			transition: all 0.2s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.50+ */
		}

		#gameBoard{
			display:table;
			margin:auto;
			//width: 100%;
			width: 240px;

			$height: 34px;
			$width: 34px;

			.Type1{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;
				border-radius: 23px;

				position: relative;

				@include transition();

				&:before{
					content: "";
					position:absolute;
					background: #000;
					height: $height/2;
					width: 2px;
					left:$width / 2 - 1px;
				}
			}

			.Type2{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;
				border-radius: 23px;

				position: relative;

				@include transition();

				&:before{
					content: "";
					position:absolute;
					background: #000;
					height: $height/2 + 1px;
					width: 2px;
					left:$width / 2 - 1px;
				}
				&:after{
					content: "";
					position:absolute;
					background: #000;
					height: 2px;
					width: $width/2 + 2px;
					top:$height / 2 - 1px;
					left:$width / 2;
				}

			}

			.Type3{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;
				border-radius: 23px;

				position: relative;

				@include transition();

				&:before{
					content: "";
					position:absolute;
					background: #000;
					height: $height;
					width: 2px;
					left:$width / 2 - 1px;
				}
			}

			.Type4{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;
				border-radius: 23px;

				position: relative;

				@include transition();

				&:before{
					content: "";
					position:absolute;
					background: #000;
					height: $height;
					width: 2px;
					left:$width/2 - 1px;
				}
				&:after{
					content: "";
					position:absolute;
					background: #000;
					height: 2px;
					width: $width / 2;
					top:$height/2 - 1px;
					left:$width / 2 +1px;
				}

			}

			.Type5{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;
				border-radius: 23px;

				position: relative;

				@include transition();

				&:before{
					content: "";
					position:absolute;
					background: #000;
					height: $height;
					width: 2px;
					left:$width / 2 - 1px;
				}
				&:after{
					content: "";
					position:absolute;
					background: #000;
					height: 2px;
					width: $width;
					top:$height/2 - 1px;
					left:0;
				}

			}

			.Box{
				height: $height;
				width: $width;
				margin: auto;

				border: 2px solid;
				border-color: #000;

				position: relative;

				@include transition();
			}
		}
	}
}

#templateWrapper{
	display:none;
}